html, body {
    padding: 0;
    margin: 0;
    background-color: #262626;
}


h1, h2, h3, h4, h5 {
    color: white;
}

p {
    margin: 0;
}

/* START NAV BAR */
#navbar {
    width: 100%;
    text-align: left;

    height: 10px;
    padding: 25px 0px;
    

    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
    opacity: 0.7;
}


#navbar a{
  margin-right: 2rem;
  color: #fff;
  
  text-decoration: none;
  font-size: 1.3em;
}

#navbar a:hover{
  margin-right: 2rem;
  
  text-decoration: underline;
  font-weight: bold;
  color: #D90077;
  opacity: 1;
  cursor: pointer;
  
}
/* CLOSE NAV BAR */

.s1  {
     background-color: #2b2b2b;
    -webkit-box-shadow: 0px 10px 13px -7px #D90077, -8px -3px 15px 36px rgba(217,0,119,0); 
     box-shadow: 0px 10px 13px -7px #D90077, -8px -3px 15px 36px rgba(217,0,119,0);
}

.s2 {
    background-color: #262626;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -8px -3px 15px 36px rgba(217,0,119,0); 
     box-shadow: 0px 10px 13px -7px #000000, -8px -3px 15px 36px rgba(217,0,119,0);
}

/* START WELCOME SECTION */
#welcome-section {
    /*background-image: url(img/AnimatedShape11.svg);*/  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-column right-column";
   /* padding-bottom: 8%;*/
}

.weclome-text {
    grid-area: left-column;
}

.cover-image {
    grid-area: right-column;
    margin-top: 1.5rem;
    justify-self: start;
    
   
    /*background-color: #C2336194;*/
}

.emoji1 {
    width: 100%;
    height: auto;

}

/*.cover-image > img {
    width: 100%;
    height: auto;
}
*/


.name {
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    font-size: calc(1.525rem + 1.75vmin + 1.75vmax);
    margin-left: 5rem;
    /*font-family: 'Cormorant SC', serif;*/
    /*margin-left: 12%;*/
}

#primary {
    color: #D90077;
}


.text-box {
    margin-left: 18%;
    margin-right: 15%;
    background-color: #FFF;
    opacity: 0.9;
    padding: 2px;
    border-radius: 10px;
    -webkit-box-shadow: -7px -4px 13px 3px #00ffff; 
    box-shadow: -7px -4px 13px 3px #00ffff; 
    width: 280px;

}


.about {
    font-size: 1.3rem;

}

/* END WELCOME SECTION */


/* START ABOUT SECTION */
#aboutme {
    background-image: url(img/AnimatedShape11.svg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-column right-column";
    padding-bottom: 100px;
    margin-top: 0px;

}

.about-image {
    grid-area: left-column;
    margin-top: -20px;
    justify-self: center;
}

.image2 {
    width: 100%;
    height: auto;
}

/*.about-image > img {
    width: 100%;
    height: auto;
}*/

.about-text {
    grid-area: right-column;
    width: 80%;
    /*margin-top: 30px;*/
}

.aboutme-title {
    border-bottom: 2px solid #D90077;
}

.description {
    margin-top: 2rem;
    color: #black;
    line-height: 2rem;
    background-color: #FFF;
    opacity: 0.9;
    padding: 2px;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: -7px -4px 13px 3px #00ffff; 
    box-shadow: -7px -4px 13px 3px #00ffff; 
}

.description p {
    font-size: 1.2rem;
}

/* END ABOUT SECTION */



/* START PORTFOLIO */
h2 {
   padding-top: 40px;
}

#projects {
    margin-bottom: -10px;
}

.projects-title {
    margin-left: 5rem;
    font-size: 1.7em;
}

.word1 {
    color: #00ffff;
}

.project-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
   
    
}

.post {
    background-color: #2b2b2b;
    opcity: 0.7;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(142,142,142,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(142,142,142,0);
    border-radius: 10px;
    margin-bottom: 30px;
}

.post:hover {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -1px 7px 1px rgba(0,255,255,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px -1px 7px 1px rgba(0,255,255,0);
}

.post-preview {
    background-color: #2b2b2b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   /* -webkit-box-shadow: 0px -1px 7px 1px #282828; 
    box-shadow: 0px -1px 7px 1px #282828;*/
    padding: 15px;

}

.post-title {
    color: #D90077;
    font-size: 18px;
    margin: 0;
    
}

.post-intro {
    margin-top: 10px;
    color: #fff;

}

.thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 30%;
   
}

#projects a {
    color: #D90077;
}

#projects a:hover {
    color: #00ffff;
    cursor: pointer;
}

/* END PORTFOLIO */


/* START SKILLS */
#skills {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/AnimatedShape11.svg);
}

.skills-title {
    margin-left: 5rem;
    font-size: 1.7em;
}

.word2{
    color: #D90077;
}

.skills-wrapper {
    margin-left: 2.1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;

}

.skill-box {
    background-color: #262626;
    opacity: 0.7;
    border-radius: 10px;
     -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(142,142,142,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(142,142,142,0);
    padding: 20px;
    margin: 10px;
}


.skill-icon {
    display: block;
    width: 11.875rem;
    height: 11.25rem;
}

/* END SKILLS */

footer {
    color: #fff;
    margin-top: 40px;
    text-align: center;
}


/*------------------------------ START MEDIA QUERY ---------------------------*/

@media screen and (max-width: 900px) {

    .description p {
        font-size: 1rem;
    }

    .about-image {
        margin-top: 3%;
    }
}


@media screen and (max-width: 750px) {

    .about-text {
        width: 94%;
    }
}

@media screen and (max-width: 600px) {
    
    .about {
        font-size: 1.1rem;
    }

    .text-box{
        padding: 0;
        width: 93%; 
    }

    .description p {
        font-size: 0.94rem;
        line-height: 1.5;
    }

    .about-image {
        margin-top: 15%;
    }
}

/*------------------------------ END MEDIA QUERY ---------------------------*/
